.Rproj.user
.Rhistory
.RData
.Ruserdata
invest-lmm.synctex.gz
.*.html
.*.log
.*.pdf
.*.R
.*.RData
.*.tex
.*.text
figure
invest-lmm-paper.Rproj
invest-lmm_cache
invest-lmm_files
greenwell_linear_2014 (biometrics)
greenwell_linear_2014 (JSS)